/* CONFIGURATION GENERALE */
@font-face{
    font-family: Far From Homecoming;
    src:url(Far-From.otf)
}
:root{
    --bs-rouge: #B11313;
    --bs-jaune: #F1C530;
    --bs-bleu: #114C92;
}
.text-rouge{
    color: var(--bs-rouge);
}
.text-bleu{
    color: var(--bs-bleu);
}
.text-jaune{
    color: var(--bs-jaune);
}
.bg-rouge{
    background-color: var(--bs-rouge);
}
.bg-bleu{
    background-color: var(--bs-bleu);
}
.bg-jaune{
    background-color: var(--bs-jaune);
}
body{
    margin:0;
    padding:0;
    font-family: Montserrat;
    font-size: 14px;
}
h1{
    font-family: Far From Homecoming;
    color: #FFFF;
    font-size: 32px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #FFFF;
    font-weight:Bold 700;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #FFFF;
    font-weight: SemiBold 600;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #FFFF;
    font-weight: Medium 500;
}
p {
    font-family: 'Montserrat' ,sans-serif;
    font-size: 16px;
    color: #FFFF;
}
/* classe background */
.rouge{
    background-color: #B11313;
}
.bleu{
    background-color: #114C92;
}
.jaune{
    background-color: #F1C530;
}
/* ----------------------------header---------------------------- */
header{
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
}
/* ------------REGLAGE ESPACE ENTRE LOGO---------- */

/* ------------REGLAGE ESPACE ENTRE LOGO---------- */
header img{
    margin: 0 3px;
}
/* ------------REGLAGE DE LA TAILLE DES LOGOS---------- */
img.GM{
    height: 25px;
}
/* ------------REGLAGE DE LA TAILLE DES LOGOS---------- */
img.PG{
    height:18px;
}
/* ------------REGLAGE DES LIENS ENTRE LES PAGES---------- */
header a{
    color:#FFFF;
    margin: 0 3vh;
    text-decoration: none;
}
/* ----------------------------header---------------------------- */

/* ----------------------------footer---------------------------- */
footer{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 10vh 1vh;
}
footer ul li{
    margin: 0 5vh;
}
footer img.rso{
    clip-path:circle();
    width: 30px;
    height: 30px;
    padding: 3px;
    margin: 3px;
}
footer select{
    border-radius: 10px;
    color: #FFFF;
    border: none;
    width: 100px;
    height:25px
}
footer section::backdrop{
    color: #FFFF;
}
footer option{
    color: #FFFF;
}
/* ----------------------------footer---------------------------- */

/* ----------------------------A propos page html---------------------------- */
/* ----------------------------partie1 section---------------------------- */
.partie1{
    background-color: #F1C530;
}
/* mise en ligne */
.flex{
    display: flex;
}
/* CENTRAGE DU TEXTE */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.partie1 span{
    margin: 2vh;
}
/* inversion de l'image */
.rotate{
    transform: scale(-1,1);
    max-width: 100%;
}
/* ----------------------------partie1 section---------------------------- */
/* ----------------------------partie2 section---------------------------- */
.partie2{
    padding: 3vh;
    background-color: #B11313;
}
/* REGLAGE PARTIE DANS NOTE */
.note{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* REGLAGE IMAGE */
.note img{
    height: auto;
    width: 100%;
    padding: 5%;
}
/* REGLAGE PARTIE FORMULAIRE */
.formulaire{
    display: flex;
    margin: auto;
    padding: 1vh 2vh;
    width: 100%;
}
.formulaire form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* regalge des inputs dans le formulaire */
.formulaire input{
    margin: 10px 0;
    width: 85%;
    height: 4vh;
    color: #FFFF;
    border: solid;
    border-radius: 30px;
    border-color: #FFFF;
    background-color: #B11313;
}
input::placeholder{
    color: #FFFF;
}
input.grand{
    height: 20vh;
}
input button{
    width: 75%;
    text-align: center;
    text-justify: center;
}
/* ----------------------------partie2 section---------------------------- */
/* ----------------------------partie3 section---------------------------- */
.partie3{
    background-color: #114C92;
    padding: 0 7vh;
}
.partie3 ul{
    list-style: none;
    color: #FFFF;
}
.Titre{
    padding-top: 1px;
}
.partie3 span{
    width: 100%;
    padding: 0 5px;
    text-align: justify;
}

.reseausocio{
    color: #FFFF;
    height: 5vh;
    margin: 5px 5px;
    border: solid;
    border-color: #FFFF;
    border-radius: 8px;
    background-color: #114C92;
    
}
/* ----------------------------partie3 section---------------------------- */
/* ----------------------------A propos page html---------------------------- */

/* ----------------------------Adversaires page html---------------------------- */
/* ----------------------------Vilains section---------------------------- */
.vilains{
    padding: 3vh 5%;
    height:50vh;
    display: flex;
    align-items: center;
    background-image: url(../Assets/Illustration/img7.png);
    background-attachment: local;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.Acteur img {
    width: 100%;
    height: auto;
    padding-top: 10px;   
}
.info{
    margin-bottom: 10px;
    padding: 2px;
    text-align: left;
    border: solid;
    border-color: #000000;
    border-width: 10px;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;    
}
.info p{
    color: #000000;   
}
/* ----------------------------Adversaires page html---------------------------- */

/* ----------------------------Heros page html---------------------------- */
/* ----------------------------heros section---------------------------- */
.heros{
    height:50vh ;
    padding: 5vh;
    display: flex;
    align-items: center;
    background-image: url(../Assets/Illustration/img19.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* ----------------------------heros section---------------------------- */
/* ----------------------------message section---------------------------- */
.message{
    padding: 15vh;
    text-align:justify;
    height: fit-content;
}
.message div{
    width: 100%;
}
.message iframe{
    padding: 4vh;
    width: 90%;
    height: 100%;
}
/* ----------------------------message section---------------------------- */
/* ----------------------------fondations section---------------------------- */
.fondations{
    height:50vh ;
    display: flex;
    align-items: center;
    background-image: url(../Assets/Illustration/img20.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* ----------------------------fondations section---------------------------- */
/* ----------------------------capacite section---------------------------- */
.capacite{
    padding: 5vh;
}
.capacite div{
    width: 100%;
    padding: 10px;
    text-align: justify;
}
.relative{
    position:relative
}
.droite{
    position: absolute;
    left: 50%;
    top: -3%;
}

.ami img{
    width:37vh;
    height: auto;
    margin: 10px auto;
    padding-bottom: 3vh;
}
img.superpose{
    position: absolute;
    top:10vh;
    left:20vh;
    width:37vh;
    height: auto;
}
.mji{
    display: flex;
    flex-direction: row-reverse;
}
/* ----------------------------capacite section---------------------------- */
/* ----------------------------rouge section---------------------------- */
.grid-container{
    display: inline-grid;
    gap: 3vh;
}
.item1{
    grid-area: 1/1/span 1/span 1;
}
.item2{
    grid-area: 2/1/span 1/span 1;
}
.item3{
    grid-area: 3/1/span 1/span 1;
}
.item4{
    grid-area: 4/1/span 1/span 1;
}
.item5{
    grid-area: 1/2/span 2/span 2;
}
.item6{
    grid-area: 3/2/span 1/span 1;
}
.item7{
    grid-area: 4/2/span 1/span 1;
}
/* .avenger{
    display: flex;
    width: 100%;
} */
.grid-container>div{
    display:initial;
    width:auto;
}

.grid-container img{
    width: 35vh;
    margin: 2vh;
}
.grid-container p{
    width:35vh;
    text-align: justify;
    margin: 2vh;
}
.total{
    width:100%;
    height: auto;
}
.total img{
    width: 100%;
    height:100%;
}


/* ----------------------------rouge section---------------------------- */
/* ----------------------------univers section---------------------------- */
.univers{
    height: 55vh;
    background-image: url(../Assets/Illustration/img33.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}
.univers div{
    width: 45%;
    height: 55vh;
    margin: 0 5% 0 50%;
    padding: 2vh;
    background-color: rgba(17, 75, 146, 0.76);
    text-align: justify;
}

/* ----------------------------Heros page html---------------------------- */



/* ----------------------------bonus page---------------------------- */
/* ----------------------------main section---------------------------- */
main{
    height: 90vh;
    display: flex;
    align-items: flex-end;
    padding: 5vh;
    background-image: url(../Assets/Illustration/img35.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
}

/* ----------------------------main section---------------------------- */
/* ----------------------------bonus page---------------------------- */


/* ----------------------------Home page---------------------------- */
/* ----------------------------spiderman section---------------------------- */
.tete{
    position: absolute;
    top: 3vh;
}
.spiderman{
    height: 70vh;
    background-image: url(../Assets/Illustration/img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vh;
}


/* --------------------parametrage des boutons------------------- */
.b{
    border: solid;
    border-radius: 15px;
    border-width: 2px;
    border: #FFFF;
    height: 25px;
    background-color: #B11313;
    color: #FFFF;

}
.b-blanc{
    border: solid;
    border-radius: 15px;
    border-width: 2px;
    border: #FFFF;
    height: 25px;
    background-color: #FFFF;
    color:#B11313;

}
/* --------------------parametrage legende figure------------------- */
legend figure{
    margin-bottom: 0;
    padding-bottom: 3vh;
}
/* --------------------parametrage des boutons------------------- */
.legende figcaption{
    text-align: justify;
    color: #FFFF;
    padding: 2vh;
}


/* ----------------------------pardev section---------------------------- */
.pardev{
    display: flex;
}
.devenir{
    display: block;
    margin-left: auto;
    width: 50%;
}
.devenir input{
    margin: 10px 0;
    width: 85%;
    height: 4vh;
    border: solid;
    border-radius: 30px;
}

.black::placeholder{
    color: #000000;
}
/* ----------------------------pardev section---------------------------- */
/* ----------------------------newsletter section---------------------------- */
.newsletter{
    display: flex;
    flex-direction: row-reverse;

}
.newsletter div{
    width: 100%;
}
.newsletter img{
    width: 100%;
    height: 100%;
}
input.blanc{
    margin: 0 0 3px 0;
    border: solid;
    border-width: 4px;
    border-color: #FFFF;
    border-radius: 15px;
    background-color: #B11313; 
}
.blanc::placeholder{
    color: #FFFF;
}

/* ----------------------------newsletter section---------------------------- */
/* ----------------------------Home page---------------------------- */




/* ----------------------------responsive---------------------------- */

@media only screen and (max-width: 760px) {
    footer ul{
        display: flex;
        justify-content: space-between;
    }
    
    .partie3 span{
        text-align:center;
    }
    .message{
        text-align: center;
    }
    .jamais{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .droite{
        position:initial;
    }
    img.superpose{
        position:initial;
    }
    .mji{
        display: block;
    }
    .photo{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    div.photo{
        padding: 0;
    }
    .photo div{
        padding:0
    }
    photo div img{
        margin: 0;
    }
    .photo img{
        width:10vh
    }
    .Spi{
        display: flex;
        flex-direction: column-reverse;
    }
    .legende figcaption{
        text-align: center;
        color: #FFFF;
        padding: 2vh;
    }
    .pardev{
        height:70vh;
        background-image: url(../Assets/Illustration/img5.png);
        background-repeat: repeat;
        background-position: left;
        background-size:cover;
    }
    .devenir{
        width: 100%;
        padding: 2vh;
    }
    .newsletter{
        height: fit-content;
        background-image: url(../Assets/Illustration/img6.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: bottom;
        background-attachment: local;
        background-size: calc(100%);

    }
    .vilains{
        padding: 1vh 5%;
        height:50vh;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        background-image: url(../Assets/Illustration/img7.png);
        background-attachment: local;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .heros{
        display: flex;
        flex-direction: column;
        height:50vh ;
        padding: 5vh;
        background-image: url(../Assets/Illustration/img19.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .head{
        display: flex;
        flex-direction:row ;
        width: 100%;
    }
}