/* CONFIGURATION GENERALE */
:root{
    --bs-rouge: #B11313;
    --bs-jaune: #F1C530;
    --bs-bleu: #114C92;
}
.text-rouge{
    color: var(--bs-rouge);
}
.text-bleu{
    color: var(--bs-bleu);
}
.text-jaune{
    color: var(--bs-jaune);
}
.bg-rouge{
    background-color: var(--bs-rouge);
}
.bg-bleu{
    background-color: var(--bs-bleu);
}
.bg-jaune{
    background-color: var(--bs-jaune);
}
body{
    margin:0;
    padding:0;
    font-family: Montserrat;
    font-size: 14px;
}
h1{
    font-family: Far From Homecoming;
    color: #FFFF;
    font-size: 32px;
}
h2{
    font-family: Far From Homecoming;
    font-size: 20px;
    color: #FFFF;
    font-weight: bold;
}
h3{
    font-family: Montserrat;
    font-size: 20px;
    color: #FFFF;
    font-weight: semi-bold;
}
h4, p{
    font-family: Montserrat;
    font-size: 16px;
    color: #FFFF;
    font-weight: lighter;
}
/* classe background */
.rouge{
    background-color: #B11313;
}
.bleu{
    background-color: #114C92;
}
.jaune{
    background-color: #F1C530;
}
/* ----------------------------header---------------------------- */
header{
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
}
/* ------------REGLAGE ESPACE ENTRE LOGO---------- */

/* ------------REGLAGE ESPACE ENTRE LOGO---------- */
header img{
    margin: 0 3px;
}
/* ------------REGLAGE DE LA TAILLE DES LOGOS---------- */
img.GM{
    height: 25px;
}
/* ------------REGLAGE DE LA TAILLE DES LOGOS---------- */
img.PG{
    height:18px;
}
/* ------------REGLAGE DES LIENS ENTRE LES PAGES---------- */
header a{
    color:#FFFF;
    margin: 0 3vh;
    text-decoration: none;
}
/* ----------------------------header---------------------------- */

/* ----------------------------footer---------------------------- */
footer{
    background-color: #000000;
    padding: 10vh 3vh;
}
footer ul li{
    margin: 0 5vh;
}
footer img.rso{
    clip-path:circle();
    width: 30px;
    height: 30px;
    padding: 3px;
    margin: 3px;
}
footer select{
    border-radius: 10px;
    color: #FFFF;
    border: none;
    width: 100px;
    height:25px
}
footer option{
    color: #FFFF;
}
/* ----------------------------footer---------------------------- */
/* ----------------------------A propos page html---------------------------- */
/* ----------------------------partie1 section---------------------------- */
.partie1{
    background-color: #F1C530;
}
/* mise en ligne */
.flex{
    display: flex;
}
/* CENTRAGE DU TEXTE */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.partie1 span{
    margin: 2vh;
}
/* inversion de l'image */
.rotate{
    transform: scale(-1,1);
    max-width: 100%;
}
/* ----------------------------partie1 section---------------------------- */
/* ----------------------------partie2 section---------------------------- */
.partie2{
    padding: 3vh;
    background-color: #B11313;
}
/* REGLAGE PARTIE DANS NOTE */
.note{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* REGLAGE IMAGE */
.note img{
    height: auto;
    width: 100%;
    padding: 5%;
}
/* REGLAGE PARTIE FORMULAIRE */
.formulaire{
    display: flex;
    margin: auto;
    padding: 1vh 2vh;
    width: 100%;
}
.formulaire form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* regalge des inputs dans le formulaire */
.formulaire input{
    margin: 10px 0;
    width: 85%;
    height: 4vh;
    color: #FFFF;
    border: solid;
    border-radius: 30px;
    border-color: #FFFF;
    background-color: #B11313;
}
input.grand{
    height: 20vh;
}
input button{
    width: 75%;
    text-align: center;
    text-justify: center;
}
/* ----------------------------partie2 section---------------------------- */
/* ----------------------------partie3 section---------------------------- */
.partie3{
    background-color: #114C92;
    padding: 0 7vh;
}
.partie3 ul{
    list-style: none;
    color: #FFFF;
}
.Titre{
    padding-top: 1px;
}
.PC-flex{
    display: flex;
    justify-content: center;
}
.partie3 span{
    width: 100%;
    padding: 0 5px;
    text-align: justify;
}

.reseausocio{
    color: #FFFF;
    height: 5vh;
    margin: 5px 5px;
    border: solid;
    border-color: #FFFF;
    border-radius: 8px;
    background-color: #114C92;
    
}
/* ----------------------------partie3 section---------------------------- */
/* ----------------------------A propos page html---------------------------- */

/* ----------------------------Adversaires page html---------------------------- */
/* ----------------------------Vilains section---------------------------- */
.vilains{
    padding: 3vh 5%;
    height:70vh ;
    background-image: url(../Assets/Illustration/img7.png);
    background-size:calc(100%);
    background-repeat: none;
}
/* ----------------------------Adversaires page html---------------------------- */

/* ----------------------------Heros page html---------------------------- */
/* ----------------------------Heros section---------------------------- */
.heros{
    height:70vh ;
    display: flex;
    align-items: center;
    background-image: url(../Assets/Illustration/img19.png);
    background-size: calc(100%);
    background-repeat: no-repeat;
    background-position: center;
}
/* ----------------------------Heros section---------------------------- */
/* ----------------------------fondations section---------------------------- */
.fondations{
    height:60vh ;
    display: flex;
    align-items: center;
    background-image: url(../Assets/Illustration/img20.png);
    background-size: calc(100%);
    background-repeat: no-repeat;
    background-position: center;
}
/* ----------------------------univers section---------------------------- */
.univers{
    background-image: url(../Assets/Illustration/img33.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.univers div{
    background-color: rgba(17, 76, 146,0.5);
    display: flex;
    margin: 0 5% 0 40%;
}




/* ----------------------------bonus page---------------------------- */
/* ----------------------------main section---------------------------- */
main{
    height: 100vh;
    background-image: url(../Assets/Illustration/img35.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;

}



/* ----------------------------bonus page---------------------------- */


/* ----------------------------Home page---------------------------- */
/* ----------------------------spiderman section---------------------------- */
.spiderman{
    height: 100vh;
    background-image: url(../Assets/Illustration/img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* ----------------------------responsive---------------------------- */

@media only screen and (max-width: 400px) {
    footer ul{
        display: flex;
        justify-content: space-between;
    }
    
    .partie3 span{
        text-align:center;
    }
    
}