/* CONFIGURATION GENERALE */
body{
    margin:0;
    padding:0;
    font-family: Montserrat;
    font-size: 14px;
}
h1{
    font-family: Far From Homecoming;
    font-size: 32px;

}
h2{
    font-family: Far From Homecoming;
    font-size: 20px;
    font-weight: bold;
}
h3{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: semi-bold;
}
h4{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: lighter;
}
/* classe background */
.rouge{
    background-color: #B11313;
}
.bleu{
    background-color: #114C92;
}
.jaune{
    background-color: #F1C530;
}
/* ----------------------------header---------------------------- */
header{
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
}
/* ------------REGLAGE ESPACE ENTRE LOGO---------- */
header img{
    margin: 0 3px;
}
/* ------------REGLAGE DE LA TAILLE DES LOGOS---------- */
img.GM{
    height: 25px;
}
/* ------------REGLAGE DE LA TAILLE DES LOGOS---------- */
img.PG{
    height:18px;
}
/* ------------REGLAGE DES LIENS ENTRE LES PAGES---------- */
header a{
    color:#FFFF;
    margin: 0 3vh;
    text-decoration: none;
}
/* ----------------------------header---------------------------- */


/* ----------------------------A propos page html---------------------------- */
/* ----------------------------partie1---------------------------- */
.partie1{
    background-color: #F1C530;
}
/* mise en ligne */
.flex{
    display: flex;
}
/* CENTRAGE DU TEXTE */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* inversion de l'image */
.rotate{
    transform: scale(-1,1);
    max-width: 100%;
}
/* ----------------------------partie1---------------------------- */
/* ----------------------------partie2---------------------------- */
.partie2{
    display: flex;
    background-color: #B11313;
}
/* REGLAGE PARTIE DANS NOTE */
.note{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* REGLAGE IMAGE */
.note img{
    height: 50%;
    width: auto;
}
/* REGLAGE PARTIE FORMULAIRE */
.formulaire{
    display: flex;
    margin: auto;
    width: 100%;
}
.formulaire form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* regalge des inputs dans le formulaire */
.formulaire input{
    margin: 10px 0;
    width: 85%;
    height: 4vh;
    border: solid;
    border-radius: 30px;
    border-color: #FFFF;
    background-color: #B11313;
}
input.grand{
    height: 20vh;
}
input.bouton{
    width: 75%;
}
/* ----------------------------partie2---------------------------- */
/* ----------------------------partie3---------------------------- */
.partie3{
    background-color: #114C92;
    padding: 0 7vh;
}
.Titre{
    padding-top: 1px;
}
.PC-flex{
    display: flex;
    justify-content: center;
}
.partie3 span{
    width: 100%;
    padding: 0 5px;
}
.reseausocio{
    color: #FFFF;
    width: 150px;
    border: solid;
    border-color: #FFFF;
    border-radius: 30px;
    background-color: #114C92;
    
}